html {
    font-size: 100%;
    background-color: #00bff3;
}

/*header edit*/
header {
    background-color: #292929;
    color: white;
    font-size: 1rem;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    Border: 0px solid black;
    
}
button {
    background-color:#f06292ff;
    border-color: #f06292ff;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
