html {
    font-size: 100%;
    background-color: #00bff3;
}

/*header edit*/
header {
  background-color: #292929;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  height: 100%; 
  display: grid;
   grid-template-columns: .35fr 1fr 2fr;
   grid-auto-rows: minmax(100px, auto);
}
header a {
  height: 100%;
  grid-column: 1; 
  grid-row: 1; 
}
header img {
  padding-top: 8px;
  height: 100%;
  float: right;
}
header h1 {
  padding-top: 8px; 
  grid-column: 2; 
  grid-row: 1; 
  text-align: left;
  margin-top: 27px;
}

  @media only screen and (max-width: 1024px) {
      header {
        display: grid;
        grid-template-columns:.5fr 1.5fr auto;
        grid-template-rows: 1fr auto;
        
      }
      header img {
          grid-row: 1;
          grid-column: 1;  
          margin-left: 5px;        
      }
      header h1 {
          grid-row: 1;
          grid-column: 2;
          text-align: left;
          margin-left: 5px;
         margin-top: 37px;
          font-size: 1.5rem;
      }
  }

  @media only screen and (max-width: 767px) {
    header h1 {
      font-size: 1.2rem;
      margin-top: 42px;
    }
}
  /*nav edit*/
/*@media only screen and (max-width: 1024px) {*/
  .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
  }

  #hamburger-input{
    display: none;
  }

  #hamburger-menu {
    right: 20px;
    width: 50px;
    height: 20px;
    display: none;
    /*border: none;*/
    padding: 0px;
    margin: 50px;
    background: linear-gradient(
      to bottom, 
      white, white 20%, 
      #292929 20%, #292929 40%, 
      white 40%, white 60%, 
      #292929 60%, #292929 80%, 
      white 80%, white 100%
    );
  }
  #hamburger-menu #burger-menu {
    visibility: hidden;
    position: absolute;
    top: -150px;
    right: 0px;
    width: 300px;
    height: 60%;
    background-color: #292929;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
    color: white;
    overflow: hidden;
  }
  /*}*/
  #hamburger-menu ul {
    padding-left: 0px;
  }
  
  #hamburger-menu li {
    list-style-type: none;
    line-height: 5.5rem;
    top: 0px;
  }
  
  #hamburger-input:checked + #hamburger-menu #burger-menu {
    visibility: visible;
    top: 60px;
}

#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}

@media screen and (max-width: 1024px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
  .overlay {
    none;
  }
}
  nav ul {
      list-style-type: none;
      background-color: #292929;
      color: white;
      font-size: 1.5rem; 
      padding-right: 20px;
      padding-top: 10px;
      overflow: hidden;   
      margin-top: 30px;
  }
nav li {
  float: right;
}

nav ul li a {
  background-color: #292929;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  display: inline;
  padding: 50px;
  text-align: center;   
}

nav a:hover {
  background-color: #292929;
  text-decoration:underline; 
  font-weight: bold;
}

/*body edit*/
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    Border: 0px solid black;
    Margin: 0px;
    Padding: 0px;
    min-height: 100vh;
}

/*article edit*/
@media only screen and (max-width: 1024px) {
  article {
    display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: minmax(100px, auto);
}
article h1 {
  grid-column: 2;
  text-align: center;
  grid-row: 1;
}
article p {
  max-width: 600px;
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  text-align: center;
}
table {
  grid-column: 2;
  grid-row: 3;
}
table img{
 width: 100%;
 height: auto;
}
}

article {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-auto-rows: minmax(100px, auto);
  padding-bottom: 300px;
}
article h1 {
  grid-column: 2;
  text-align: center;
  grid-row: 1;
  margin-top: 80px;
  font-size: xx-large;
}
article p {
  max-width: 600px;
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  text-align: center;
  font-size:x-large;
  line-height: 2;
  margin-top: 120px;
  padding-bottom: 40PX;
}
table {
  padding: 15px;
  border-radius: 25px;
  background-color: #f9bf3b;
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  font-size: x-large;
}

a {
    text-decoration: none;
    color: inherit;
    }

table caption {
  font-weight: 600;
  font-size: large;
}
/* caption {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 5px;
  background-color: #f9bf3b;
  color: black;
  border-radius: 25px;
}*/

thead, tfoot {
  background-color: white;
  color: black;
  font-weight: bold;
}

th, td {
  padding: 5px 10px;
  background-color: white;
  
}

.center {
  text-align: center;
  
}
.rowhover:hover {
  color: #f06292ff;
  
}

/*edit footer*/
@media only screen and (max-width: 1024px) {
  footer {
      bottom: 0;
      width: 100%;
      
    
  }
}
footer {
  background-color: #8bc34a;
  color: #292929;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-bottom: 3vh solid #784421ff;
      width: 100%;
      margin-top: auto;
  display: grid;
  grid-template-columns: 1fr;
   grid-auto-rows: minmax(100px, auto);
   
  
} 
footer address {
  text-align: end;
  padding-right: 3vw;
  margin-bottom: 1vh;
}   
  
  
/* To fill Text-webkit-text-stroke: 1px #292929;
-webkit-text-fill-color: white;*/



/* .bold {
      font-weight: bold;
    }

    hr {
      margin: 30px 0 30px 0;
    }


    a {
      color: blue;
    }

    a:visited {
      color: blue;
    }

    a:hover {
      color: red;
    }

    .basicform label {
      background-color: yellow;
      color: blue;
      font-weight: bold;
      font-family: sans-serif;
      }

    .basicform input {
      display: flex;
      font-size: 100%;
      width: 250px;
      border: 2px solid blue;
      background-color: pink;
      color: black;
      }

      .basicbutton button {
        border-radius: 5%;
        box-shadow: 10px 5px 5px red;
      }

      textarea {
        background-color: green;
        color: black;
      }*/