html {
    font-size: 100%;
    background-color: #00bff3;
}
/*body edit*/
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    Border: 0px solid black;
    Margin: 0px;
    Padding: 0px;
}
/*header edit*/
header {
    background-color: #292929;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    height: 100px; 
    display: grid;
     grid-template-columns: .2fr 1fr 2fr;
     grid-auto-rows: minmax(100px, auto);
}
header a {
    height: 100px;
    grid-column: 1; 
    grid-row: 1; 
}
header img {
    padding-top: 8px;
    height: 100%;
    
}
header h1 {
    padding-top: 8px; 
    grid-column: 2; 
    grid-row: 1; 
    text-align: left;
}
/*nav edit*/
    nav ul {
        list-style-type: none;
        background-color: #292929;
        color: white;
        font-size: 1.5rem; 
        margin-right: 20px;
        padding-top: 10px;
        overflow: hidden; 
        
        
    }
nav li {
    float: right;
}

nav ul li a {
    background-color: #292929;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    display: inline;
    padding: 50px;
    text-align: center;
    
    
    
    
    
}

nav a:hover {
    background-color: #292929;
    text-decoration:underline; 
    font-weight: bold;
}

/*hover even/odd:
nav ul li:nth-child(2) {
    background-color: pink
    color: black
    Border: 1px solid pink
    font-weight: bold
    text-decoration: none
Then you would copy this, and do the same things for "nav ul li a"*/

/*.wrapper {
    background-color: #00bff3;
}*/
article {
    display: grid;
    max-width: 500px;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
}
.parent {
    position:relative;
    top: 0;
    left: 0;
}
.image1  {
   /*border: 1px solid gray;
   border-radius: 25px;*/
   padding: 1rem;
   padding-top: 110px;
   padding-bottom: 100px;
   position: relative;
   z-index: 2;

}
.image2 {
    position: absolute;
    top: 120px;
    left: 573px;
    height: 35%;
    z-index: 1;
}
.image3 {
    position: absolute;
    top: 60px;
    right: 690px;
    height: 30%;
    z-index: 1;
}
.image4 {
    position: absolute;
    top: 752px;
    right: 970px;
    height: 13%;
    z-index: 2;
}


footer {
    height: 100%;
    background-color: #8bc34a;
    color: #292929;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-bottom: 20px solid #784421ff;
    
} 
footer address {
    text-align: end;
    padding-right: 40px;
    margin-bottom: 10px;
}   
    
    
/* To fill Text-webkit-text-stroke: 1px #292929;
-webkit-text-fill-color: white;*/


